:root {
    --header-background: rgb(31, 129, 103);
    --nav-background: rgba(84, 214, 180, 1.0);
    --font-familycontent: 'Kaushan Script';
    --font-familyheading: 'Poppins', sans-serif;
    --articlebox2color: #f0f4f6;
    --articlebox3color: #eed6f1;
    --articlebox4color: #d8d9da;
    --articlebox1color: #dff8ff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #wrapper {
    width: 100%;
    padding: 5px 10px 0 10px;
    background-color: #141414;
    color: black;
    background-color: white;
    /* background: linear-gradient(cadetblue, #141414); */
  }
  
  body {
    height: 100%;
    margin: 0;
    background-color: #000;
    /* padding-left: 1em;
      padding-right: 1em; */
  }
  
  h1,
  h2,
  h3,
  h4,
  li {
    font-family: var(--font-familyheading);
  }
  
  p {
    font-family: var(--font-familycontent);
  }
  a{
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  .navoff {
    /* when the nav item is selected then it will become bold will not be clickable ther is no underline aswell*/
    font-weight: bold;
    color: #1B263B;
    text-align: center;
    margin: 1px;
    width: 100px;
}

  /* header */
  header {
    list-style: none;
    /* background-color: var(--header-background); */
    background: white;
    /* Change the background color to a shade of blue */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    z-index: 999;
    height: 70px;
    width: 100%;
    text-align: center;
    /* justify-content: center; */
    position: sticky;
    top: 0;
    padding: 5px;
    height: 110px;
    border-bottom: 1px solid rgba(227, 235, 238, 0.5);
  }
  
  /* navigation bar */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--nav-background);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .pages li a.active {
    font-weight: bold;
}

  
  .logo {
    color: rgb(226, 226, 226);
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .pages {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 60%;
  }
  
  .pages a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    border-radius: 2px;
    margin: 5px;
    transition: all 0.3s ease;
  }

  
  /* nav bar end */
  
  
 

  /*Banner */
  
#banner {
    background: linear-gradient(rgba(6, 180, 192, 0.479), #3d97ce), url("../Image/banner.JPG");
    background-size: cover;
    background-position: center center;
    height: 80vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



  
.bannertext {
    text-align: center;
    color: #fff;
    padding-top: 80px;
    
}

#banner h1{
    font-size: 100px;

}

.bannertext p {
    /* font-size: 100px; */
    font-family: var(--font-family1content);
}
.bannertext p i{
    font-size: 50px;
}

/*Banner end*/

/*Main content*/

.front-page-container {
    margin-top: 5px;
    background: linear-gradient(#3d97ce, rgba(6, 180, 192, 0.479));
    
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.container-label {
  /* font-size: 24px; */
  color: wheat;
  margin-bottom: 10px;
  
}

#subhead p{
    text-align: left;
    word-spacing: 10px;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:black;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    
    /* max-width: 1000px; */
    margin: 0;
  ; /* Adjust the max-width if needed */
  }
  
  .card-article1,
  .card-article2,
  .card-article3,
  .card-article4 {
    /* height: 500px; */
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 50ch;

    
}
   

  .card-article1 h3,
  .card-article2 h3,
  .card-article3 h3,
  .card-article4 h3{
    padding-top: 10px;
    font-size: 40px;
    /* transform: perspective(500px) rotateY(-20deg); */
    text-transform: uppercase;
    
    
  }
  .card-article1 p,
  .card-article2 p,
  .card-article3 p,
  .card-article4 p{
    padding-top: 100px;
    font-size: 25px;
    /* transform: perspective(500px) rotateY(-20deg); */
    padding-bottom: 50px;
    
  }
  
  .card-article1 a,
  .card-article2 a,
  .card-article3 a,
  .card-article4 a {
    font-size: 30px;
    text-decoration: none;
   
  }
  
  .card-article1 {
    background: linear-gradient(#f0f4f6,rgba(6, 180, 192, 0.479)), url("../Image/workout.jpg");
    background-size: cover;
    background-position: center;
   
  }
  
  .card-article2 {
    background: linear-gradient(#eed6f1,rgba(6, 180, 192, 0.479) ), url("../Image/mealplan.jpg");
    
    background-size: cover;
    background-position: center;
  }
  
  .card-article3 {
    background: linear-gradient(#d8d9da ,rgba(6, 180, 192, 0.479)), url("../Image/supp.jpeg");
  
    background-size: cover;
    background-position: center;
  }
  
  .card-article4 {
    background: linear-gradient(#dff8ff,rgba(6, 180, 192, 0.479)), url("../Image/Create-Merch-Online.jpg");
    background-size: cover;
    background-position: center;
  }
  
#section1{
  display: block;
  margin: 0;
  max-width: 100%;
}


footer {
  padding:10px;
  margin: 0;
  width: 100%;
}

.container1 {
  max-width: 100%;
  
}

.row {
  justify-content: space-between;
}

.col {
  flex-basis: 30%;
  text-align: left;
}

.responsive {
  border: 2px solid black;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

p,
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
  }
  
  
  .bottom-bar {
    background-color: #222;
    padding: 0;
    text-align: center;
  }
  
  .bottom-bar p {
    margin: 0;
    color: #fff;
  }

  .col {
    flex-basis: 50%;
  }
 
/**/
.responsive{
  display: flex;
}
.responsive-flex{
  display: flex;
  justify-content: center;  

}

.responsive img{
  border-radius: 100px;
  justify-content: center;
}
.responsive p{
  text-align: left;
  /* border: solid red; */
  padding: 20px;
}




.front-page-container1 {
  margin-top: 10px;
  background: linear-gradient(#3d97ce, rgba(6, 180, 192, 0.479));
  width: 100%;
  
  

padding: 20px;
text-align: center;
}


/*THew containers for meals and workouts boxes*/












/* Mobile nav and tablet  */
/* nav bar mobile */

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    nav {
      border-bottom-right-radius: 0;
    }
    .pages {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: var(--nav-background);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .pages li {
      opacity: 0;
    }
  
    .burger {
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  
  /* building animation */
  /* Followed a tutorial to achieve this */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  

#banner {
        padding-top: 150px;
      
}

.bannertext h1 {
        font-size: 50px;
    }

.bannertext p {
        font-size: 16px;
    }


/*main container for about us article*/
.card-article1,
.card-article2,
.card-article3,
.card-article4 {
    flex-basis: 40%;
    /* height: calc(80%vh); */
    justify-content: center;
    box-sizing: border-box;
  }


 /**Footer*/ 
  footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .col {
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  
  p,
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
  }
  
  
  .bottom-bar {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .bottom-bar p {
    margin: 0;
    color: #fff;
  }

  .col {
    flex-basis: 50%;
  }
  .cardsdiv{
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 95%;
    margin: 0 auto;
    /* padding-left: 15px; */
    
  
  }
  
  .cardsdiv-content{
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
    /* padding-left: 20px; */
    height: 500px;
  }

  







/*strictly mobile*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .front-page-container {
    border-radius: 10px;
  }

  .card-container {
    all: unset;
    /* flex-basis: 50%; */
    max-width: 95%;
   
  }
.card-article1,
.card-article2,
.card-article3,
.card-article4 {
max-width: 100%;
}

}