:root {
    --header-background: rgb(31, 129, 103);
    --nav-background: rgba(84, 214, 180, 1.0);
    --font-familycontent: 'Kaushan Script';
    --font-familyheading: 'Poppins', sans-serif;
    --articlebox2color: #f0f4f6;
    --articlebox3color: #eed6f1;
    --articlebox4color: #d8d9da;
    --articlebox1color: #dff8ff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  a{
    text-decoration: none;
    color:black ;
    
  }
  ul {
    list-style-type: none;
  }
  
  body {
      font-family: var(--font-familycontent);
      margin: 0;
      padding-left: 10px;    
      background: var(--articlebox1color);
      border-radius: 5px;
      height: 100%;
    }
    
    
    
    h1,
    h2,
    h3,
    h4,
    li {
      font-family: var(--font-familyheading);
    }
    
    p,h4 {
      font-family: var(--font-familycontent);
    }
    
    h2 {
      margin-bottom: 20px;
    }
    
    article {
      margin-bottom: 40px;
      
      /* padding-left: 20px; */
      
      margin: 0;
      
      /* background: var(--articlebox4color); */
    }
    
    h3 {
      /* color: #333; */
      font-size: 30px;
      margin-bottom: 10px;
    }
    
    p {
      /* color: #666; */
      line-height: 1.5;
      margin-bottom: 20px;
    }
    
    ol {
      /* color: #666; */
      line-height: 1.5;
      margin-bottom: 20px;
      margin-left: 20px;
    }
    
    li {
      margin-bottom: 10px;
      color: black;
      font-weight: bold;
    }
    img{
      width: 95%;
      border: black solid;
      border-radius: 10px;
    }
    
    .links li{
      font-size: 20px;
      font-style: italic;
      font-weight: 800;
  
    }
  
    .links li:hover{
      opacity: .80;
      color: red;
      font-weight: 800;
      
    }
    .links li:visited {
      color: purple;
    }
    
    body a:last-child{
      display: block;
      text-align: center;
    }
  
  
    
    /* navigation bar */
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color: var(--nav-background);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .pages li a.active {
      font-weight: bold;
  }
  
    
    .logo {
      color: rgb(226, 226, 226);
      letter-spacing: 5px;
      font-size: 20px;
      text-transform: uppercase;
    }
    
    .pages {
      display: flex;
      /* background-color: red; */
      justify-content: space-around;
      width: 60%;
    }
    
    .pages a {
      color: rgb(226, 226, 226);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 16px;
    }
    
    .burger {
      display: none;
      cursor: pointer;
    }
    
    .burger div {
      width: 25px;
      height: 3px;
      background-color: rgb(226, 226, 226);
      border-radius: 2px;
      margin: 5px;
      transition: all 0.3s ease;
    }
  
    
    /* nav bar end */
  
  
  
   
    footer {
      padding:10px;
      margin: 0;
      width: 100%;
    }
    
    .container1 {
      max-width: 100%;
      
    }
    
    .row {
      justify-content: space-between;
    }
    
    .col {
      flex-basis: 30%;
      text-align: left;
    }
    
    .responsive {
      border: 2px solid black;
      display: flex;
      margin: 0 auto;
      max-width: 100%;
    }
    
    p,
      .social-icons {
        margin-bottom: 10px;
      }
      
      .social-icons a {
        color: white;
        margin-right: 10px;
      }
      
      .social-icons i {
        font-size: 20px;
      }
      
      
      .bottom-bar {
        background-color: #222;
        padding: 0;
        text-align: center;
      }
      
      .bottom-bar p {
        margin: 0;
        color: #fff;
      }
    
      .col {
        flex-basis: 50%;
      }
     
    /**/
    .responsive{
      display: flex;
    }
    .responsive-flex{
      display: flex;
      justify-content: center;  
    
    }
    
    .responsive img{
      border-radius: 100px;
      justify-content: center;
    }
    .responsive p{
      text-align: left;
      /* border: solid red; */
      padding: 20px;
    }
  
    .col a{
      color: white;
    }
    
    
    .navoff {
      /* when the nav item is selected then it will become bold will not be clickable ther is no underline aswell*/
      font-weight: bold;
      color: #1B263B;
      text-align: center;
      margin: 1px;
      width: 100px;
  }
    
    .front-page-container1 {
      margin-top: 10px;
      background: linear-gradient(#3d97ce, rgba(6, 180, 192, 0.479));
      width: 100%;
      
      
    
    padding: 20px;
    text-align: center;
    }
    
    
  
    .toparticle a{        
        font-size: 25px;

    }
  
    .toparticle a:hover{        
        color: saddlebrown;

    }
  
  
  
  
  
  
  
  
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      border: 2px solid black;
    }

   .instruct{
    font-weight: bold;
    font-size: 20px;
   }
    
    @media screen and (max-width: 600px) {
      th, td {
        display: block;
        width: 100%;
      }
    }
    
  
  
  
  
  
    
    
    
  
  
  
  
    
  
    @media screen and (max-width:768px) {
      body {
        overflow-x: hidden;
      }
      nav {
        border-bottom-right-radius: 0;
      }
      .pages {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      .pages li {
        opacity: 0;
      }
    
      .burger {
        display: block;
      }
    }
    
    .nav-active {
      transform: translateX(0%);
    }
    
    
    /* building animation */
    /* Followed a tutorial to achieve this */
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    
    .toggle .line1 {
      transform: rotate(45deg) translate(5px, 6px);
    }
    
    .toggle .line2 {
      opacity: 0;
    }
    
    .toggle .line3 {
      transform: rotate(-45deg) translate(5px, -6px);
    }
    
  
  #banner {
          padding-top: 150px;
        
  }
  
  .bannertext h1 {
          font-size: 50px;
      }
  
  .bannertext p {
          font-size: 16px;
      }
  
  
  /*main container for about us article*/
  
  
   /**Footer*/ 
    footer {
      background-color: #000;
      color: #fff;
      padding: 30px 0;
    }
    
    .container {
      width: 90%;
      margin: 0 auto;
    }
    
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .col {
      flex-basis: 100%;
      padding: 10px;
      text-align: center;
    }
    
    h3 {
      margin-bottom: 20px;
    }
    
    
    p,
    .social-icons {
      margin-bottom: 10px;
    }
    
    .social-icons a {
      color: white;
      margin-right: 10px;
    }
    
    .social-icons i {
      font-size: 20px;
    }
    
    
    .bottom-bar {
      background-color: #222;
      padding: 10px 0;
      text-align: center;
    }
    
    .bottom-bar p {
      margin: 0;
      color: #fff;
    }
  
    .col {
      flex-basis: 50%;
    }



  
  /* Style the article containers */
article {
    margin-bottom: 20px;
  }
  
  /* Style the unordered lists */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the list items */
  li {
    margin-bottom: 8px;
  }
  
  /* Style the food sources box */
  ul.food-sources {
    border: 1px solid #ccc;
    padding: 12px;
    background-color: #f5f5f5;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    ul.food-sources {
      padding: 8px;
    }
  }
  
  

/*Contact us styling*/

/* Contact form styles */
.contact-form {
    margin-bottom: 20px;
  }
  
  .contact-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  
  .contact-form select,
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .contact-form select {
    width: 100%;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* FAQ section styles */
  .faq-section {
    margin-bottom: 20px;
  }
  
  .faq-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .faq-section .faq {
    margin-bottom: 20px;
  }
  
  .faq-section .question {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .faq-section .answer {
    font-size: 14px;
  }
  .main-content {
    padding: 20px;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
}

.address {
    flex: 1;
}


  @media only screen and (max-width: 768px) {
    .contact-form form,
    .contact-form select,
    .contact-form input,
    .contact-form textarea,
    .contact-form button,
    .faq-section h2,
    .faq-section .question,
    .faq-section .answer {
      max-width: 100%;
    }
    
    .contact-form textarea {
      height: 80px;
    }
    .contact-section {
        flex-direction: column;
    }
    
    .contact-form, .address {
        margin-right: 0;
        margin-bottom: 20px;
    }
  }


  
    
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .card-container{
  
          /* align-items: center; */
          flex-basis: 50%;
          flex-wrap: wrap;
          justify-content: center;
        }
  
        .cardsdiv{
          /* justify-content: center; */
          /* align-items: center; */
          max-width: 95%;
          margin: 10px;
          /* padding-left: 15px; */
          
        
        }
        
        .cardsdiv-content{
          /* justify-content: center; */
          align-items: center;
          max-width: 100%;
          /* padding-left: 20px; */
          height: 500px;
        }
        
          .col {
            flex-basis: 50%;
          }
        }       
  
  
  
    
   
  /*strictly mobile*/
  @media screen and (max-width: 481px) {
      .front-page-container {
        border-radius: 10px;
      }
    
      .card-container {
        all: unset;
        /* display: flex; */
        /* flex-basis: 50%; */
        max-width: 95%;
        margin: 10px;
  
       
      }
     
        }
    
  
    